* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'GmarketSans';
    src: url(../font/GmarketSansTTF/GmarketSansTTFMedium.ttf) format('truetype');
}


/* 컨테이너입니다 크게 header,mainView,footer 세구역으로 나눴습니다. */
#container_S {
    border: 1px solid red;
    width: 100%;
    display: grid;
    grid-template-areas:
    "header"
    "mainView"
    "footer";
}

#header_P {
    border: 1px  red;
    background-color: #292826 ;
    width: 100%;
    height: 10vh;
    grid-area: header;
}

header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


a{
    text-decoration : none;
}

li{
    list-style: none;
}


/* 로고 */
.logo_P{
    width: 20%;
    height: 100%;
}
.logo_P img{
    margin-left : 20px;
    /* margin-top: 10px; */
    height : 80px; 
}


/* 메뉴 */
.menu_P{
    display:flex;
    justify-content:left;
    width: 20%;
    list-style: none;
    padding-left:0;
}

.menu_P li{
    display: inline-block;
    margin: 30px 25px;
    color: #F9D142;
    list-style: none;
}
.category_P a{
    color: #F9D142;
    text-decoration : none;
}

.drama_P a{
    color: #F9D142;  
    text-decoration : none;  
}


/* 서치바 */
.searchBox_P{
    width:30%;
    display:flex;
}
.search_P {
    display:flex;
    justify-content: center;
    width:100%;
    height:55%;
    margin-top:15px;
    background: #292826;
    border : 2px solid #F9D142;
    border-radius: 10px;
}
.search_P>input {
    width: 90%;
    border: none;
    background : none;
    border-radius: 10px;
    padding: 10px 12px;
    margin-top: 3px;
    font-size: 16px;
}
.searchBtn_P{
    width: 10%;
    margin-top: 17px;
    text-decoration : none;
    color: #dfdfdf;
    font-size:18px;  
}


/* .search_P {
    border : 3px solid red;
    width:30%;
  }
  
.search_P>input {
    width: 90%;
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 10px 12px;
    margin-top: 15px;
    font-size: 18px;
  }
  
#sicon_P{
    width: 10%;
    margin: 0px;
  } */




/* 아이콘 드롭다운 */
.dropdown_P{
    position: relative;
    display: inline-block;
    background-color:#292826;
    width:15%;
}
.loginicon_P{
  margin-top: 15px;
    padding: 10px 40px;
    font-size:30px;
    background-color:#292826;
    color: #F9D142;
}
#drop-content_P{
    position: absolute;
    z-index: 1;
}
#drop-content_P a{
    display:block;
    font-size: 20px;
    color: #F9D142;
    text-decoration: none;
    margin: 5px 10px;

}
.drop-contentul_P{
    list-style : none;

     background : #292826;
     width:150px;
}
#drop-content_P>ul>li{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
    cursor: pointer;
}
#drop-content_P>ul>li>a{
  color: #F9D142;
  font-size:18px;
}
.dropicon_P{
  color: #F9D142;
}
/* .drop-contentli1_P:hover{background-color:#808080 }
.drop-contentli2_P:hover{background-color:#808080 }
.drop-contentli3_P:hover{background-color:#808080 } */

