@font-face {
    font-family: 'GmarketSans';
    src: url(../font/GmarketSansTTF/GmarketSansTTFMedium.ttf) format('truetype');
}

:root{

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GmarketSans';
    background-color: #292826;
}

.selectContainer_C{
    border: 3px solid red;
}

#movieContainer_C{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
}

.poster{
    width: 150px;
    height: 300px;
}

#movieContainer_C p{
    margin-bottom: 0.5rem;
    font-size: 10px;
}
#movieContainer_C h4{
    display: none;
}

.movies {
    border: 1px solid black;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    width: 19%;
    color: #f9d142;
}

select{
    color: white;
}

button{
    color: white;
}

#pageBtnContainer_C{
    display: none;
    border: 3px solid red;
    color: white;
    margin-top: 1rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#pageBtnContainer_C a{
    margin-left: 1rem;
    /* color: white; */
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
    
}

#pageBtnContainer_C a:visited{
    /* color: white; */
}

#previewDiv_C{
    width: 460px;
    height: 315px;
    
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%,-50%);  */
    display: none;

}

#exit{
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 30px;
    top: 20px;
    right: 20px;
    background-color: transparent;
}



