*{
    margin: 0;
}
/* 07/21 양광모 폰트추가 */
@font-face {
    font-family: 'GmarketSans';
    src: url(../font/GmarketSansTTF/GmarketSansTTFMedium.ttf) format('truetype');
}

:root {
    --border: 3px solid #292826;
    --bg-color: #292826;
    --bg2-color: #F9D142;
    --border-radius : 5px;
    --width: 100%;
    --basic-color : white;
    /* --border-sample: 3px solid red; */
}  

a{
    text-decoration: none;
    color: var(--bg-color);
}

/* 메뉴바 설정부 */
.header_Y{
    width: var(--width);
    height: 100px;


    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    position: fixed;
    z-index: 100;
}



/* 헤더 버튼 설정 */
.header_Y>button{
    background-color: var(--bg2-color);
    /* border: 3px solid red; */
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: var(--border-radius);
    margin-right: 40px;
}
.header_Y>a>img{
    width: 200px;
    height: 80px;
    margin-left: 40px;
}


/* 섹션 공통 사이즈 */
.section_Y{
    width: var(--width);
    height: 100vh;

    /* border: var(--border-sample); */
    background-color: var(--bg-color);
    color: var(--basic-color);

    position: relative;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* filter: brightness(0.5); */
    
}
/* 섹션별 이미지 삽입 */
.one_Y{
    /* background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(/img/section1.jpg); */

      background-color: #292826;
}

/* 텍스트존 박스 설정 */
.text-zone_Y{
    width: 150vh;
    height: 300px;
    /* text-align: center; */
    line-height: 10vh;

    /* border: var(--border-sample); */
    border: 3px solid red;
    
    color: #F9D142;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



