* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'GmarketSans';
    src: url(../font/GmarketSansTTF/GmarketSansTTFMedium.ttf) format('truetype');
}


/* 컨테이너입니다 크게 header,mainView,footer 세구역으로 나눴습니다. */
#container_S {
    border: 1px solid red;
    width: 100vw;
    display: grid;
    grid-template-areas:
    "header"
    "mainView"
    "footer";
}

#header_P {
    border: 1px  red;
    background-color: #292826 ;
    width: 100%;
    height: 10vh;
    grid-area: header;
}

a{
    text-decoration : none;
}

li{
    list-style: none;
}

.nav_P{
    display : flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color:  #292826 ;
    padding: 8px 12px;
}


.logo_P{
    float : left;
    width: 15vw;
    height: 10vh;
}
.logo_P img{
    margin-left : 10px;
    width : 90%;
    height : 100%; 
}


.menu_P{
    display:flex;
    list-style: none;
    padding-left:0;
}

.menu_P li{
    padding: 8px 25px;
}

.search_P {
    position: relative;
    width:50vw;
  }
  
.search_P>input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 15px;
    padding: 10px 12px;
    font-size: 20px;
  }
  
#sicon_P{
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
    display:block;
  }

.loginmenu_P{
    width: 100px;
}
/* 아이콘을 감싸고 있는 ul-li 태그의 클래스명 <ul class="login_P">  */
.login_P{
    font-size: 35px;
    line-height: 50px;
    float:left;
    /* float:inline-end; */
    list-style: none;
    display : flex;
    position:relative;
}
/* 아이콘과 형제 태그/아이콘을 감싸고 있는 li 태그에 하위 메뉴로 만들어놓은 <ul class="dropdown-menu_P"> */
.dropdown-menu_P{
    position: absolute;
    display : none;
    font-size:18px;
    list-style: none;
    text-decoration : none;
    background :  #292826;
    z-index: 1

}
/* 아이콘에 호버 적용 */
.loginmenu_P .login_P .dropdown .loginicon_P:hover ~ .dropdown-menu_P{
  display: block;
}
